/* null style */
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
aside,
nav,
footer,
header,
section {
	display: block;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	background-color: inherit;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
/* all style */
body {
	color: #707070;
	font-size: 14px;
	background-color: #f8f8f8;
	font-weight: 400;
}
.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1100px;
	min-height: 100vh;
	overflow: hidden;
	margin: 0 auto;
}
/* header */
.header,
.footer {
	width: 100%;
	background: white;
	flex: 0 0 auto;
}
.header__body {
	display: flex;
	height: 50px;
}
.header__logo {
	padding: 8px;
	transition: all 0.5s ease;
}
.header__logo_link img {
	height: 100%;
}
.header__logo:hover {
	padding: 5px;
}
.header__nav {
	flex-grow: 1;
	align-self: center;
}
.header__nav_list {
	display: flex;
	justify-content: space-around;
}
/* button */
._btn {
	display: block;
	padding: 3px 15px;
	border-radius: 3px;
	border: 1px solid gray;
	color: gray;
	transition: all 0.5s ease;
}
._btn:hover {
	background-color: gray;
	color: white;
}

/* main-index */
.main__page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1 0 auto;
}
._title {
	text-transform: uppercase;
	padding: 10px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-bottom: 20px;
}

.main-catalog {
	padding: 0 5px;
	margin-bottom: 20px;
	height: 100%;
	width: 100%;
}
.main-catalog__list {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	height: 250px;
	width: 100%;
}
.main-catalog__cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 33.3%;
	overflow: hidden;
	padding: 15px 5px 40px 5px;
	outline: 1px solid gray;
	border-radius: 5px;
	transition: all 0.5s ease;
}
.main-catalog__cart:hover {
	outline: 1px solid white;
	/* outline: none; не работает transition */
}
.main-catalog__cart img {
	height: 100%;
	object-fit: cover;
}
.main-catalog__cart_link {
	padding: 10px;
	color: gray;
	transition: all 0.8s ease;
	cursor: pointer;
}
.main-catalog__cart_link:hover {
	font-size: 16px;
	color: red;
}
/* main-contact */
form {
	background-color: white;
	padding: 15px 50px;
	border-radius: 5px;
}
input,
textarea {
	outline: 1px solid gray;
	border-radius: 3px;
	padding: 3px 5px;
	transition: outline 0.5s ease;
	width: 100%;
}
.form__block {
	margin-bottom: 15px;
}
.form__block p {
	margin-bottom: 5px;
}
input:focus,
textarea:focus {
	outline: 1px solid red;
}
input::placeholder {
	color: rgb(164, 163, 163);
	font-style: italic;
	font-size: 12px;
}
.gender-block__radio input {
	outline: none;
	cursor: pointer;
}
.gender-block__radio {
	display: flex;
}
.gender-block__radio:not(:last-child) {
	margin-bottom: 10px;
}
.gender-block__radio span {
	flex: 1 0 100%;
	padding-left: 10px;
}
.form-btn {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
/* Catalog */
table {
	width: 80%;
	table-layout: fixed;
	border-spacing: 10px;
}
td {
	/* overflow: hidden; */
	padding: 10px;
	background-color: white;
	outline: 1px solid gray;
	text-align: center;
	vertical-align: middle;
	transition: outline 0.5s ease;
	cursor: pointer;
	border-radius: 5px;
}
td:hover {
	outline: 1px solid white;
}

td img {
	height: 250px;
}
.table_btn td {
	outline: none;
	background-color: inherit;
}
/* footer */
.footer {
	display: flex;
	height: 50px;
	align-items: center;
	justify-content: center;
}
